<!-- <div class="container-fluid">
    <div class="row justify-content-center mt-5">
      <div class="card">
        <span class="close-icon" (click)="removeStock()"><i class="bi bi-x"></i></span>
        <div class="row" [routerLink]="['/search', watchlistStock.stockSymbol]">
          <div class="col-md-6">
            <div class="card-body">
              <h1 class="card-title">{{watchlistStock.stockSymbol}}</h1>
              <p class="card-text">{{watchlistStock.stockName}}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-body" [style.color]="watchlistStock.change < 0 ? 'red': 'green' ">
              <h1 class="card-title">{{watchlistStock.latestPrice.toFixed(2)}}</h1>
              <p class="card-text">
                <i class="bi bi-caret-down-fill" *ngIf="watchlistStock.change < 0; else elseBlock"></i><ng-template #elseBlock><i class="bi bi-caret-up-fill"></i></ng-template> 
                {{watchlistStock.change.toFixed(2)}} ({{watchlistStock.changePercent.toFixed(2)}}%)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->


<div class="card my-3" style="cursor: pointer;">
    <div class="card-body">
      <span class="close-icon px-0" (click)="removeStock()"><i class="bi bi-x"></i></span>
      
      <div class="row" [routerLink]="['/search', watchlistStock.stockSymbol]">
        <div class="col">
          <h1 class="card-title">{{watchlistStock.stockSymbol}}</h1>
          <h4 class="card-subtitle mb-2">{{watchlistStock.stockName}}</h4>
        </div>
        <div class="col" [style.color]="watchlistStock.change < 0 ? 'red': watchlistStock.change > 0 ? 'red': 'black' ">
            <h1 class="card-text">{{watchlistStock.latestPrice.toFixed(2)}}</h1>
            <h4 class="card-text mb-2">
              <i class="bi bi-caret-down-fill" *ngIf="watchlistStock.change < 0; else elseBlock"></i><ng-template #elseBlock><i class="bi bi-caret-up-fill"></i></ng-template> 
              {{watchlistStock.change.toFixed(2)}} ({{watchlistStock.changePercent.toFixed(2)}}%)
            </h4>
        </div>
      </div>
    </div>
</div>