<!-- <h2 mat-dialog-title>{{ newsCardData.headline }}</h2>
<div mat-dialog-content>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Close</button>
</div> -->

<div class="card" style="display: flex; flex-direction: column; height: 100%;">
    <div class="card-body" style="flex: 1;">
        <!-- Row 1 -->
        <div class="row">
            <div class="col">
                <h1 class="card-title"><b>{{ newsCardData.source }}</b></h1>
                <p class="card-text">{{ newsCardData.datetime }}</p>
            </div>
            <div class="col-auto">
                <button mat-button [mat-dialog-close]="true" class="close-button">
                    <span aria-hidden="true" class="close-icon"></span>
                  </button>                  
            </div>
        </div>

        <hr class="bg-secondary my-3">

        <!-- Row 2 -->
        <div class="row">
            <div class="col">
                <h4 class="card-subtitle mb-2 text-dark"><strong>{{ newsCardData.headline }}</strong></h4>
                <p class="card-text text-muted-light">{{ newsCardData.summary }}</p>
                <p class="card-text text-muted">For more details click <a href="{{ newsCardData.url }}" target="_blank">here</a></p>
            </div>
        </div>
    </div>

    <!-- Row 3 -->
    <div class="border rounded p-3 m-3" style="margin-top: auto;">
        <div class="row">
            <div class="col">
                <p class="card-text">Share</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                

                <a href="https://twitter.com/intent/tweet?text={{newsCardData.headline}}&url={{newsCardData.url}}" target="_blank" class="fb-xfbml-parse-ignore">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    style="width: 2em; height: 2em"
                    >
                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"
                    />
                    </svg>
                </a>

                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ newsCardData.url }}&amp;src=sdkpreparse">
                    <svg
                    style="width: 1em; height: 1em"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                    style="width: 2em; height: 2em"
                    >
                    <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        fill="blue"
                        d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64h98.2V334.2H109.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H255V480H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"
                    />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
  